# M2M USER CREDENTIALS FOR THE APPROPRIATE GAME ORGANIZATION FOR RALLYHERE DEVELOPER API
RH_DEV_SECRET_KEY="[your secret key]"
RH_DEV_ACCOUNT_ID="[your account id]"

# BASE URL AND SANDBOX FOR THE RALLYHERE DEVELOPER PORTAL
RH_DEV_BASE_URL = "[your base url for development api]"
RH_DEV_SANDBOX_ID="[your sandbox id]"


# CREDENTIALS FOR THE RALLYHERE ENVIRONMENT API
CLIENT_SECRET="[your client secret]"
CLIENT_ID="[your client id]"
RH_BASE_URL="[your base url for environment api]"